@import '../../styles/variables.scss';

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  margin: .25rem;

  label {
    width: 100%;
    padding: .25rem 0;
    font-size: .7rem;
    font-weight: bold;
    text-transform: uppercase; 
  }

  input {
    height: 100%;
    width: 100%;
    padding: .8rem;
    border: 1px solid $secondary;
    border-radius: 3px;
    font-weight: bold;
    outline: none;

    &:focus {
      border-color: $primary;
      box-shadow: 0 0 .1px 1px $primary;
    }
  }

  span {
    padding-top: 2px;
    font-size: .95rem;
    color: $primary;
  }
}

.upload-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  label {
    width: 100%;
    padding: 1rem;
    text-align: center;
    border: 1px solid $secondary;
    border-radius: .5rem;
    cursor: pointer;

    &:hover {
      background-color: $shade;
    }

    img {
      height: 6rem;
    }
  }

  input {
    display: none;
  }
}