@import '../../styles/variables.scss';

.alert {
  position: fixed;
  top: .5rem;
  right: .5rem;
  padding: 1.5rem 5rem 1.5rem .8rem;
  color: $white;
  background-color: $green;
  border-radius: 3px;
  z-index: 3;

  span {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}